.feedback {
  margin-bottom: 120px;

  @include vp-1439 {
    margin-bottom: 101px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.feedback__container {
  // min-height: 802px;
  position: relative;

  @include vp-1439 {
    // min-height: 780px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.feedback__img-container {
  z-index: -1;
  position: absolute;

  @include vp-1439 {
    padding-right: 45px;
  }

  @include vp-767 {
    padding-right: 0;
  }

  img {
    width: 100%;
    height: 803px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;

    @include vp-1439 {
      height: 780px;
    }

    @include vp-767 {
      height: 753px;
    }
  }
}

.feedback__text-block-container {
  display: flex;
  justify-content: flex-start;

  @include vp-767 {
    justify-content: center;
    padding: 0 15px;
  }
}

.feedback__form-container {
  max-width: 498px;
  min-height: 802px;
  padding: 82px 74px 39px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;

  @include vp-1439 {
    max-width: 442px;
    min-height: 780px;
    padding: 62px 45px 50px;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: 450px;
    min-height: 753px;
    padding: 50px 15px;
  }

  h2 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: $color-default-white;

    @include vp-1439 {
      margin-bottom: 27px;
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      margin-bottom: 17px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    color: $color-alabaster;
    opacity: 0.9;


    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      margin-bottom: 26px;
      font-size: 14px;
    }
  }
}

.feedback__form-label {
  label {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      margin-bottom: 22px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $color-alabaster;
    opacity: 0.8;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.feedback__form-label:last-of-type {
  // label {
  //   flex-direction: row;
  //   align-items: center;
  //   gap: 10px;
  // }

  span {
    font-size: 12px;
    line-height: 12px;
    color: $color-default-white;
    opacity: 0.9;
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.feedback__form {
  form {
    min-height: 539px;
    display: flex;
    flex-direction: column;

    @include vp-1439 {
      min-height: 537px;
    }

    @include vp-767 {
      min-height: 528px;
    }
  }

  input {
    min-height: 50px;
    padding: 5px 25px;
    color: $color-default-white;
    background-color: $color-transparent;
    border: 1px solid;
    border-color: rgb($color-default-white, 0.3);
    border-radius: 8px;
    transition: border-color $trans-default;

    &:hover {
      border-color: rgb($color-default-white, 1);
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: rgb($color-default-white, 1);
    }
  }

  textarea {
    min-height: 98px;
    padding: 15px 25px;
    color: $color-default-white;
    background-color: $color-transparent;
    border: 1px solid;
    border-color: rgb($color-default-white, 0.3);
    border-radius: 8px;
    transition: border-color $trans-default;

    @include vp-767 {
      min-height: 95px;
    }

    &:hover {
      border-color: rgb($color-default-white, 1);
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: rgb($color-default-white, 1);
    }
  }

  // select {
  //   min-height: 50px;
  //   background-color: $color-transparent;
  //   border: 1px solid rgb($color-default-white, 0.3);
  //   border-radius: 8px;
  // }
}

.feedback__form-button {
  // margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto 0 0;
  padding: 4px 4px 4px 106px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-color: $color-default-white;
  transition:
    color $trans-default,
    background-color $trans-default,
    border-color $trans-default;

  @include vp-1439 {
    padding-left: 108px;
  }

  @include vp-767 {
    min-width: 260px;
    max-width: 260px;
    margin: 10px 0 0;
    align-self: center;
    padding-left: 74px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-cerulean-blue;

    .feedback__btn-wrapper {
      background-color: $color-cerulean-blue;
    }

    svg {
      transform: rotate(45deg);
      color: $color-default-white;
    }
  }

  &:active {
    color: rgb($color-cerulean-blue, 0.7);
  }

  &:disabled {
    background-color: $color-transparent;
    color: $color-mischka;
    border-color: $color-mischka;
    pointer-events: none;
    cursor: not-allowed;
    outline: none;

    .btn__wrapper--invert {
      background-color: $color-mischka;
    }

    svg {
      color: $color-default-white;
      opacity: 0.6;
    }
  }
}

.feedback__btn-wrapper {
  background-color: $color-default-white;

  svg {
    color: $color-cerulean-blue;
  }
}

.feedback__form-label--checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  label {
    margin-top: 14px;

    @include vp-1439 {
      margin-top: 9px;
    }

    @include vp-767 {
      margin-top: 14px;
    }
  }
}

.feedback__form-label--textarea {
  label {
    margin-bottom: 16px;
  }
}

.feedback__custom-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: $color-transparent;
  border: 1px solid;
  border-color: rgb($color-default-white, 0.7);
  border-radius: 2px;
  transition:
    background-color $trans-default,
    border-color $trans-default;

  @include vp-767 {
    top: 43%;
  }

  &:hover,
  &:focus {
    border-color: $color-default-white;
  }

  svg {
    display: none;
    color: $color-default-white;
  }
}

.feedback__default-checkbox:checked+.feedback__custom-checkbox {
  background-color: $color-default-white;
  border-color: $color-default-white;

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;

    svg {
      color: $color-default-white;
    }
  }
}

.feedback__default-checkbox:checked+.feedback__custom-checkbox svg {
  display: block;
  color: $color-cerulean-blue;
}

.feedback__default-checkbox:disabled+.feedback__custom-checkbox {
  border-color: $color-default-white;
  background-color: rgb($color-transparent, 0.6);
  pointer-events: none;
  cursor: not-allowed;
  outline: none;
}

.feedback__default-checkbox:checked:disabled+.feedback__custom-checkbox {
  background-color: $color-mischka;
  border-color: $color-mischka;
  pointer-events: none;
  cursor: not-allowed;
  outline: none;

  svg {
    color: $color-default-white;
  }
}

.feedback__form-select {
  margin-bottom: 11px;

  @include vp-767 {
    margin-bottom: 8px;
  }
}

.feedback__form-label.is-invalid input {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}

.feedback__form-label.is-invalid textarea {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}

.feedback__form-label.is-invalid .custom-select__button {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}

.feedback__form-label.is-invalid .feedback__custom-checkbox {
  border: 1px solid #FF5E66;
  opacity: 0.7;
  background: rgba(255, 94, 102, 0.20);
}
