.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform $trans-modal;
  transform: translateY(0);
  padding-top: 30px;

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  z-index: 50;
  min-height: 54px;
  width: 133px;
  gap: 19px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  transition:
    width $trans-modal,
    color $trans-modal,
    background-color $trans-modal;

  @include vp-767 {
    width: 135px;
    gap: 20px;
    padding: 3px 4px 3px 20px;
  }

  &:hover {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
  }

  &:hover span {
    background-color: $color-default-white;
    color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-endeavour;
    border-color: $color-endeavour;
  }

  span {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    transition:
      background-color $trans-default,
      color $trans-default;
  }
}

.header__button .header__button-close {
  display: none;
}

.header__button.is-open .header__button-close {
  display: flex;
}

.header__button.is-open .header__button-menu {
  display: none;
}

.header__button.is-open {
  width: 286px;
  justify-content: space-between;
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  @include vp-767 {
    width: 290px;
  }
}

.header__nav {
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 58px;
  right: 100px;
  width: 286px;
  padding: 31px 25px 29px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  transition:
    opacity $trans-default,
    visibility $trans-default;

  @include vp-1439 {
    right: 45px;
  }

  @include vp-767 {
    width: 290px;
    right: 15px;
  }
}

.header__nav.is-open {
  opacity: 1;
  visibility: visible;
}
