.news {
  margin-bottom: 120px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.news__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: $color-cerulean-blue;

    @include vp-1439 {
      font-size: 34px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.news__tab-list-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }


  @include vp-767 {
    justify-content: flex-start;
  }
}

.news__tab-list {
  display: flex;
  justify-content: center;
  gap: 30px;

  @include vp-1439 {
    gap: 10px;
  }

  @include vp-767 {
    gap: 12px;
  }
}

.news__tab-item {
  padding: 14px 26px;
  border: 1px solid;
  border-color: $color-transparent;
  border-radius: 20px;
  cursor: pointer;
  transition:
    border-color $trans-default,
    transform $trans-default;

  @include vp-1439 {
    padding: 14px 20px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    opacity: 0.6;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news__tab-item.is-active {
  border-color: $color-cerulean-blue;

  p {
    opacity: 1;
  }
}

.news__slider-wrapper {
  width: 1240px;
  position: relative;

  @include vp-1439 {
    width: 678px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.news__slider.swiper-wrapper {
  // height: 400px;
  padding-bottom: 70px;

  @include vp-1439 {
    height: 730px; //??
  }

  @include vp-767 {
    height: 680px; //??
  }
}

.news__slider-slide.swiper-slide {
  position: relative;
  max-width: 286px;
  min-width: 286px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  @include vp-1439 {
    max-width: 324px;
    min-width: 324px;
    height: 350px;
  }

  @include vp-767 {
    max-width: 290px;
    min-width: 290px;
    min-height: 240px;
    max-height: 330px;
  }

  span {
    position: relative;
    padding: 12px 12px 6px 0;
    background-color: $color-alabaster;
    border-radius: 0 12px 0 0;
    color: $color-cerulean-blue;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/angle-up-alabaster.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -16px;
      width: 16px;
      height: 16px;
      background-image: url("../../img/angle-up-alabaster.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  h3 {
    position: relative;
    width: 214px;
    padding: 18px 18px 6px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    background-color: $color-alabaster;
    border-radius: 0 12px 0 0;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -16px;
      width: 16px;
      height: 16px;
      background-image: url("../../img/angle-up-alabaster.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.news__slider-slide--wide.swiper-slide {
  max-width: 604px;
  min-width: 604px;

  @include vp-1439 {
    max-width: 324px;
    min-width: 324px;
  }

  @include vp-767 {
    max-width: 290px;
    min-width: 290px;
  }

  h3 {
    width: 291px;

    @include vp-1439 {
      width: 207px;
    }

    @include vp-767 {
      width: 200px;
    }
  }

  .news__link-container {
    width: 389px;

    @include vp-1439 {
      width: 240px;
    }

    @include vp-767 {
      width: 263px;
    }
  }
}

.news__link-container {
  position: relative;
  width: 240px;
  display: flex;
  gap: 16px;
  padding: 12px 18px 15px 0;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  @include vp-767 {
    gap: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 16px;
    height: 16px;
    background-image: url("../../img/angle-up-alabaster.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    font-size: 14px;
    line-height: 18px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.new__img-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;

  img {
    border-radius: 12px;
  }
}

.news__link {
  align-self: center;
  padding: 5px;
  background-color: $color-cerulean-blue;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-transparent;

    svg {
      transform: rotate(45deg);
      color: $color-cerulean-blue;
    }
  }

  &:active {
    svg {
      opacity: 0.7;
    }
  }

  &.disabled {
    background-color: $color-transparent;
    color: $color-mischka;
    border-color: $color-mischka;
    pointer-events: none;

    .btn__wrapper {
      background-color: $color-mischka;
    }

    svg {
      color: $color-default-white;
      opacity: 0.6;
    }
  }
}

.news__link-svg-wrapper {
  width: 22px;
  height: 22px;
  display: flex;
  padding: 6px;
  background-color: $color-transparent;
  border-radius: 50%;
  transition: background-color $trans-default;
}

.news__link-svg-wrapper>svg {
  color: $color-default-white;
}

.news__buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 10px;
}

.news__link-btn-svg-wrapper {
  width: 22px;
  height: 22px;
  display: flex;
  padding: 6px;
  background-color: $color-transparent;
  border-radius: 50%;
  transition: background-color $trans-default;
}

.news__link-btn-svg-wrapper>svg {
  color: $color-cerulean-blue;
}

.news__slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
}

.news__slider-button:hover .news__link-btn-svg-wrapper {
  background-color: $color-default-white;
}

.news__slider-button:focus .news__link-btn-svg-wrapper {
  background-color: $color-default-white;
}

.news__slider-button:active svg {
  opacity: 0.7;
}

.news__slider-button:disabled svg {
  color: $color-mischka;
}

.news__slider-button:disabled .news__link-btn-svg-wrapper {
  background-color: $color-transparent;
}

.news__slider-pagination.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  color: rgb($color-cerulean-blue, 0.5);
  background-color: $color-alabaster;
  border: 1px solid;
  border-color: $color-transparent;
  border-radius: 50%;
  cursor: pointer;
  transition:
    color $trans-default,
    background-color $trans-default,
    border-color $trans-default;

  @include vp-767 {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: 14px;
  }

  &:hover,
  &:focus {
    color: $color-cerulean-blue;
    background-color: $color-transparent;
    border-color: $color-cerulean-blue;
    outline: none;
  }

  &:active {

    color: $color-default-white;
    background-color: $color-endeavour;
    border-color: $color-endeavour;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-color: $color-cerulean-blue;
}

.swiper-grid-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}
